.features_page h2 {
  color: #026FFD;
  font-weight: bold;
  padding-bottom: 60px;
}

.features_page h3 {
  color: #026FFD;
  font-weight: bold;
}

.features_page h4 {
  font-weight: bold;
}

.feature_image {
  width: 300px;
  padding-bottom: 40px;
}
