<div class="footer text-center" style="padding: 20px">
  <%= image_tag "logo.png", width: '300' %>
  <p> ©2016 My A.I. Vendor. All Rights Reserved. </p>
  <%=image_tag("london-banner.png", width: '250px')%>
  <p style="font-size: 13px"> Proudly developed in London </p>
</div>
