<div class="container how-it-works">

  <h1>The history</h1>

  <p>The concept of lightweight chat-based interfaces for commerce was pioneered and popularized in Asia by apps like China’s WeChat and Japan’s Line. Rather than forcing people to download entire apps for each business or use case, they can simply send messages to “official accounts” also called chat bots inside the instant messaging app they already use all day long. These allow you to make purchases with a get basic info, book a product and ultimately pay directly through facebook.</p>

  <p>These official accounts make accessing added utility not only convenient for the user. Chat app platforms relieve businesses from having to build, popularize, and maintain whole mobile apps for multiple phone operating systems. With so many apps flooding the app stores, getting people to discover them and go through the hassle of installing an app can be tough for businesses. It’s much more casual and less daunting for businesses to get users to simply message them.</p>

  <p>Why is messaging so hot right now? Unlike 2000, we now have wireless mobile devices, affordable mobile data, interconnections between businesses (APIs), and relatively safe and secure mobile payment options.</p>


  <h1>Our vision</h1>

  <p>At My A.I. Vendor, we believe that it is time to rethink shopping for the mobile generation. We believe messaging offers the opportunity to deliver many business services faster, and more conveniently than the web or apps. It is emerging as additional choice for consumers and businesses. Unless you can write code yourself, the average cost just to build an app is over $150,000. Most businesses cannot afford this. Not every business or consumer transaction needs an entire app.

  As new app-like services emerge on messaging platforms, you will see more and more commerce move to this format. It’s faster and easier for the customer, and lower cost for the business to implement.</p>


  <h1>Our solution</h1>

  <h3>White label</h3>
  <p>One major aspect of Artificial Intelligence is reaching a critical mass of request in order to train the algorithm. Chatbot are similar to humans: they learn from experience. The more customer requests there are, the smarter it gets. Our white label solution mutualize the requests enable all of our customers to benefit from the latest stage of the A.I..</p>

  <h3>Hybrid</h3>
  <p>On the one hand, the current state of Natural Language Processing and Machine Learning are only capable of fulfilling a small fraction of most people’s requests. On the other, having humans answering the chat system is difficult to scale. Hence, we are building a new generation of hybrid machine natural language chat backed by real human customer support that will handle all possible transactional requests while enabling it to scale rapidly and maintaining high quality.</p>

</div>
